<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            let text = $('#test').text();
            console.log(text);
        });
    </script>
</head>
<body>
    <div id="test">sss</div>
    <div th:object="${load}">
        <div th:text="${load.content}"></div>
        <div th:each="coment : ${load.getBoardComments()}">
            <div th:text="${coment.content}"></div>
        </div>


    </div>
</body>
</html>